################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SolidDesignPrinciplesApp/.vs/SolidDesignPrinciplesApp/v17
/SolidDesignPrinciplesApp/DependencyInversionApp/obj
/SolidDesignPrinciplesApp/.vs/SolidDesignPrinciplesApp
/SolidDesignPrinciplesApp/LiskovSubstitutionPrincipleApp/obj
